<section classname="header">
	<div>
		<h1>Bienveneu dans ce site de petite Annonce</h1>
		<h1>
			{{ title }}
		</h1>
		<h1 classname="logo">Ma Petite Annonce</h1>
	</div>
	<div classname="btn">
		<a href="/CreateAnnonce">Créer une annonce</a>
		<a href="/OneAnnonce">Voir les annonces actuelles</a>
	</div>
	<div>
		<p>Ce site de petite Annonce est présentée par Thierno Balde,Baptiste Dantas, Nikolla Marinkovic et Ulysse Perret
		</p>
		<p>Ce site est la pour que les utilisateurs poste des petites annonces et  y répondent.</p>

	</div>

</section>
